.transaction_history {
  border: 1px solid grey;
  background-color: rgb(209, 207, 207);
  padding: 15px;
  margin-left: 40px;
  width: 400px;
}

.transaction_title {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 40px;
  text-align: center;
}

.transaction_colom {
  text-align: center;
  height: 30px;
  color: rgb(69, 67, 67);
}
